body, html {
    margin: 0;
    padding: 0;
    height: 100% 
}
p.strong {
    font-weight: 600;
}

.hero {
    background-image: url(../img/header.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: stretch;
    background-size: cover;
}
h2.title {
    color: #fff;
}
h2.title2 {
    color: #000;
    font-size: 30px;
}
body {
    background-color: #46126B;
    min-height: 100% 
}
#content {
    background-color: #46126B;
}
.hero {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: stretch;
    background-size: cover;
}
#content-inner {
    background: #46126B;
    max-width: 75em;
    margin: 0 auto;
    padding: 2.5em 0 
}
a {
    transition: all .1s linear 
}
.someone {
    transition: transform .5s ease;
    border-radius: 100%;
    background-color: transparent;
    border: 3px solid #23272A;
    display: inline-block;
    max-width: 100% 
}
.someone:hover {
    transform: scale(1.1) rotate(360deg) 
}
.columns .column {
    max-width: 100%;
    margin: auto;
    font-size: 13px;
}
.ceo {
    border: 3px solid #1BBC9B 
}
.manager {
    border: 3px solid #5298ee 
}
.admin {
    border: 3px solid #b469f0 
}
.headadmin {
    border: 3px solid #aa41ff 
}
.mod {
    border: 3px solid #2DCC70 
}
.staff {
    border: 3px solid #fa5044 
}
.hero, nav {
    background-color: #300048!important 
}
#netsky-hero-logo {
    box-shadow: 0px 0px 20px #a96fff;
    transition: all 0.0;
    margin-bottom: 10px;
}
#netsky-hero-logo:hover {
    animation: shadow-pulse 1s infinite ease;
}
.nav-item, nav a, nav strong {
    color: #fff!important 
}
.nav-item:hover, nav a:hover, nav strong:hover {
    color: #efeaea!important 
}
.nav-toggle:hover {
    background-color: #300048 !important 
}
.nav-toggle span {
    background-color: #fff!important 
}
.hero-body {
    text-align: center 
}
.hero-body h1.title {
    color: #efeaea!important 
}
@media screen and (max-width: 768px) {
    .nav-menu.is-active {
        background-color: #300048;
   }
}
footer {
    background-color: #300048!important;
    width: 100% 
}
footer * {
    color: #fff!important 
}
footer a {
    text-decoration: underline!important 
}
footer a:hover {
    color: #fff !important 
}
@keyframes shadow-pulse {
    0% {
        box-shadow: 0px 0px 20px #a96fff;
   }
    50% {
        box-shadow: 0px 0px 50px #a96fff;
   }
    100% {
        box-shadow: 0px 0px 20px #a96fff;
   }
}
