<nav>
  <a href="/" {% if page.permalink == '/'%}class="c"{% endif %}><i class="fas fa-fw fa-home"></i> Home/Staff</a>
  <a href="/rules" {% if page.permalink == '/rules'%}class="c"{% endif %}><i class="fas fa-fw fa-gavel"></i> Rules</a>
  <a href="/partner" {% if page.permalink == '/partner'%}class="c"{% endif %}><i class="fas fa-fw fa-link"></i> Partners</a>
  <a href="https://twitter.com/NetskyCommunity"><i class="fab fa-fw fa-twitter"></i> Twitter</a>
  <a href="https://discord.io/Netsky"><i class="fab fa-fw fa-discord"></i> Join</a>

</nav>

<h1><img src="https://netskycommunity.me/assets/images/netsky.png" alt="" id="header-logo"> Netsky Community</h1>
{% if page.title %}<h2>{% if page.icon %}<i class="{{ page.icon }}"></i> {% endif %}{{ page.title }}</h2>{% else %}<h2>&nbsp;</h2>{% endif %}
